/* Chart container styling */
.expense-chart-container {
    width: 100%;
    max-width: 600px;
    height: 10px;
    margin: 20px 0;
    background-color: #333;
    /* Dark background to match your theme */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .expense-chart-container {
        max-width: 100%;
    }
}