/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: gold;
}

.navbar-left {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-logo {
    color: gold;
    font-family: 'Orbitron', sans-serif;
}

.navbar-right {
    font-size: 1rem;
}

.navbar-link {
    color: gold;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar-link:hover {
    text-decoration: underline;
}